
body {background-color: rgb(178, 178, 211);}
  
.center {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 300px;
    margin-left: 100px; }
  
 
a {color: rgb(59, 34, 100);}
  
 h1{ 
 }

    h3, h4, ul, p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 300px;
    margin-left: 80px; 
    font-family: arial;
    font-size: 14px;}
 
  a, ul{
  font-size: 14px;}

  #wrapper {
    width:960px;}
